/* 
    Document   : style
    Created on : 04/09/2013, 21:43:37
    Author     : vagner
    Description:
        Purpose of the stylesheet follows.
*/

/* Eric Meyer Reset CSS */

html, body, div, span, applet, object, iframe, table, caption,
tbody, tfoot, thead, tr, th, td, del, dfn, em, font, img, ins,
kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
acronym, address, big, cite, code, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend {
    vertical-align: baseline;
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    outline: 0;
    padding: 0;
    margin: 0;
    border: 0;
}
:focus {
    outline: 0;
}
body {
    background: white;
    line-height: 1;
    color: black;
}
ol, ul {
    list-style: none;
}
table {
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td {
    font-weight: normal;
    text-align: left;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: "";
}
blockquote, q {
    quotes: "" "";
}

root { 
    display: block;
}

/* Eric Meyer Reset CSS */
 
body{
    background-image: url(../imagens/hipster-wallpapers-for-apple-11.jpg);
}
#menu {
    background-image: url(../imagens/twitter_web_sprite_bgs.png);    
    background-repeat: repeat-x;
    float: top;
    width: auto;
    height: 50px;
    margin-bottom: 0px;
}

#container {
    width: 1024px;
    position:absolute;
    height: 762px;
    float: outside;
    margin-left: 250px;
    margin-top: 0px;    
    background-image: url(../imagens/wash-black-30.png);    
}

#perfil {
    width: 385px;
    position:relative;
    height: 200px;
    float: left;
    margin-left: 45px;
    margin-top: 55px;
}

#feed {
    width: 515px;
    position:relative;
    height: 600px;
    float: left;
    margin-left: 20px;
    margin-top: 55px;    
}

#rodape {
    width: 925px;
    position:relative;
    height: 50px;
    float: left;
    margin-left: 45px;
    margin-top: 10px;    
}

#perfilPainel {
    height: 190px;
    box-shadow: 5px 5px 10px #0076a3;
    -webkit-box-shadow: 5px 5px 10px #0076a3;
    -moz-box-shadow: 5px 5px 10px #0076a3;    
}

#feedPainel {
    height: 590px;
    box-shadow: 5px 5px 10px #0076a3;
    -webkit-box-shadow: 5px 5px 10px #0076a3;
    -moz-box-shadow: 5px 5px 10px #0076a3;    
}

#rodapePainel {
    width: 915px;
    height: 50px;    
    box-shadow: 5px 5px 10px #0076a3;
    -webkit-box-shadow: 5px 5px 10px #0076a3;
    -moz-box-shadow: 5px 5px 10px #0076a3;
    text-align: center;
}

.Usuario {
    float: left;
}