<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <link rel="stylesheet" type="text/css" href="../css/style.css" />
        <title>Bem Vindo #{usuarioBean.usuarioDaSessao().login}</title>
    </h:head>
    <h:body>
        <div id="menu">
            <p:megaMenu styleClass="inv">  
                <p:menuitem value="Home" url="home.jsf" icon="ui-icon-check"/>                 
                <p:menuitem value="Configurações" url="config.jsf" icon="ui-icon-check"/> 
                <p:menuitem value="Sair" action="#{usuarioBean.encerrarSessao()}" url="../index.jsf" ajax="false" icon="ui-icon-check"/> 
        </p:megaMenu> 
            </div>
        <div id="container">            
            <div id="perfil" >
                <p:panel id="perfilPainel" >                
                    <h3>Perfil:</h3>
                    <span class="Usuario" id="nomeUsuario">Nome de usuário:  #{usuarioBean.usuarioDaSessao().login}</span>
                    <span class="Usuario" id="emailUsuario">E-mail: #{usuarioBean.usuarioDaSessao().email}</span>
                    <h:inputTextarea value="#{mensagemBean.mensagem.conteudo}" />                    
                    <p:commandButton value="postar" action="#{mensagemBean.postarMensagem}"/>
                </p:panel>

            </div>
            <div id="feed" >
                <p:panel id="feedPainel" >                
                    <h3>Mensagens</h3>
                    __________________________________________________                    
                    
                </p:panel>
            </div>
            <div id="rodape" >
                <p:panel id="rodapePainel" >                
                    <strong>TwitterIFPB 2013</strong>
                </p:panel>
            </div>
        </div>
    </h:body>
</html>

