<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
      
    <h:head>
        <title>Twitter IFPB</title>
    </h:head>
    <h:body style="background-image: url(imagens/hipster-wallpapers-for-apple-11.jpg); ">           
        <div id="log" style="width: 385px; float: left; margin-left: 130px; margin-top: 240px; ">            
        <h:form id="formLog">            
            <p:panel id="loginPainel" style="box-shadow: 5px 5px 10px #0076a3; -webkit-box-shadow: 5px 5px 10px #0076a3; -moz-box-shadow: 5px 5px 10px #0076a3;" >                
                <p:messages id="msgs"/>
                <h:panelGrid columns="3">
                    <h:outputLabel for="login" value="Login:" />
                    <p:inputText id="login" value="#{usuarioBean.usuario.login}" required="true" label="Login" style="width: 250px;">
                        <f:validateLength minimum="2" />
                    </p:inputText>
                    <p:message for="login" display="icon"/>

                    <h:outputLabel for="senha" value="Senha:" />                    
                    <p:password id="senha" value="#{usuarioBean.usuario.senha}" label="Senha" required="true" style="width: 250px; bottom: 0px;">
                        <f:validateLength minimum="2" />
                        <p:ajax update="msgSurname" event="keyup"  />
                    </p:password>
                    <p:message for="senha" id="msgSurname" display="icon"/>
                </h:panelGrid>
                <p:commandButton id="btn" value="entrar" update="loginPainel" action="#{usuarioBean.logarUsuario}" style="width: 160px; margin-left: 63px;"/>
                
            </p:panel>

        </h:form>
        </div> <!--fim da div de log -->    
        <div id="reg" style="float: right; margin-right: 1004px; margin-top: 10px; width: 385px; "> 
            <h:form id="formReg">
                <p:panel header="Novo por aqui? Inscreva-se!" id="regPainel" style="box-shadow: 5px 5px 10px #0076a3; -webkit-box-shadow: 5px 5px 10px #0076a3; -moz-box-shadow: 5px 5px 10px #0076a3;" >                           
                <p:messages id="msgs"/>        
                <h:panelGrid columns="3">
                    <h:outputLabel for="login" value="Login:" />
                    <p:inputText id="loginReg" value="#{cadastrarUsuarioBean.usuario.login}" required="true" label="Login" style="width: 250px;">
                        <f:validateLength minimum="2" />
                    </p:inputText>
                    <p:message for="loginReg" display="icon"/>

                    <h:outputLabel for="email" value="E-mail:" />
                    <p:inputText id="email" value="#{cadastrarUsuarioBean.usuario.email}" required="true" label="Email" style="width: 250px;">
                        <f:validateLength minimum="2" />
                    </p:inputText>
                    <p:message for="email" display="icon"/>
                    

                    <h:outputLabel for="senha" value="Senha:" />                    
                    <p:password id="senhaReg" value="#{cadastrarUsuarioBean.usuario.senha}" label="Senha" required="true" style="width: 250px; bottom: 0px;">
                        <f:validateLength minimum="2" />
                        <p:ajax update="msgSurname" event="keyup"  />
                    </p:password>
                    <p:message for="senhaReg" id="msgSurname" display="icon"/>
                </h:panelGrid>
                <p:commandButton value="inscreva-se" actionListener="#{cadastrarUsuarioBean.efetuarCadastro()}" style="width: 160px; margin-left: 63px;"/>
                </p:panel>
            

        </h:form></div>

    </h:body>
</html>

